In [1]:
import pandas as pd
import csv

In [3]:
a = [str(i*3) for i in range(5)]
for i in a:
    print (i)

0
3
6
9
12

In [4]:
total_month = 0
net_total = 0
month_of_change = []
net_change_list = []
greatest_increase = ['',0]
greatest_decrease = ['',99999999]

In [12]:
df = pd.read_csv('budget_data.csv') 
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [11]:
with open('budget_data.csv','r') as fd:
    reader = csv.reader(fd)
    header = next(reader)
    
    
    first_row = next(reader)
    total_month = total_month + 1
    net_total = net_total + int(first_row[1])
    prev_net = int(first_row[1])
    
    for  i in reader:
        total_month = total_month + 1
        net_total = net_total + int(i[1])
        
        net_change = int(i[1]) - prev_net
        prev_net = int(i[1])

(671099, ['Feb-2017', '671099'], 532869)